localhost {
  handle_path /static/* {
    root * /staticfiles
    file_server
  }

  handle_path /media/* {
      root * /media
      file_server
    }

  @django {
    path /api/* /admin/* /anything-but-admin/*
  }

  reverse_proxy @django {
    to web:8000
  }

}
