{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" type="text/css">

    {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
<div id="app" class="container mx-auto"> <!-- Vue.js will control everything inside this div -->

    <!-- Top Navbar -->
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <!-- Logo and name on the left side -->
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <!-- Make sure you replace 'your-logo-file.png' with your actual logo filename -->

            <img src="{% static 'your-logo-file.png' %}" class="fill-current h-8 w-8 mr-2" width="54" height="54"/>
            {#            <span class="font-semibold text-xl tracking-tight">Your Website</span>#}
            <button @click="toggleSidebar" class="bg-amber-500">
                toggle sidebar
            </button>
        </div>
        <!-- Menu -->
        <div class="">
            <a href="{% url 'home' %}"
               class="inline-block text-sm px-4 py-2 leading-none  text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Home</a>
            <a href="{% url 'home' %}"
               class="inline-block text-sm px-4 py-2 leading-none  text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">About</a>
            <a href="{% url 'home' %}"
               class="inline-block text-sm px-4 py-2 leading-none  text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Contact</a>
        </div>

        <!-- User avatar/dropdown on the right side -->
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
            </div>
            <div>
                {% if user.is_authenticated %}
                    <div class="relative inline-block text-left">
                        <div>
                            <button type="button" @click="toggleDropdown"
                                    class="inline-flex justify-center w-full rounded-md px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-100">
                                {{ user.username }} <span v-if="showDropdown">▲</span><span v-else>▼</span>
                            </button>

                            <img src="/path/to/avatar.png" alt="User Avatar" class="h-8 w-8 rounded-full cursor-pointer"
                                 @click="toggleDropdown">
                        </div>

                        <div v-show="showDropdown"
                             class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                            <div class="py-1">
                                <a href="{% url 'profile' %}"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                                {% if user.coach %}
                                    <a href="{% url 'coaches:coach_detail' user.coach.pk %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Coach Profile</a>
                                {% elif user.client %}
                                    <a href="{% url 'clients:client_detail' user.client.pk %}"
                                       class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Client
                                        Profile</a>
                                {% endif %}
                                <a href="{% url 'account_logout' %}"
                                   class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'account_login' %}"
                       class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <div class="flex">
        <!-- Sidebar -->
        <div v-show="showSidebar"
             class="flex-shrink-0 bg-blue-900 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform transition duration-200 ease-in-out lg:translate-x-0 lg:static lg:inset-0">
            <a href="#" class="text-white block">
                <i class="fas fa-home text-white"></i>
                <span class="ml-2 text-white">Home</span>
            </a>
            <!-- Here you can add more links for your sidebar -->
        </div>

        <!-- Main content -->
        <main class="flex-1 bg-white max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
            <!-- Include the main content block that child templates will overwrite -->
            {% block content %}
            {% endblock %}
        </main>
    <footer>
        Made with ❤️in Switzerland
    </footer>
    </div>
</div> <!-- End of Vue.js app -->

<!-- Include Vue.js -->
<script src="https://unpkg.com/vue@next"></script>

<script type="module">
    {#import VideoWatchComponent from "/static/js/video_watch_component.js";#}
    const app = Vue.createApp({
        data() {
            return {
                showDropdown: false,
                showSidebar: false,
            }
        },
        methods: {
            toggleDropdown() {
                this.showDropdown = !this.showDropdown;
            },
            toggleSidebar() {
                this.showSidebar = !this.showSidebar;
            }
        },
        components: {
            {#'video-watch': VideoWatchComponent#}
        }
    })

    app.mount('#app');
</script>
</body>
</html>
{#		<div class="container mx-auto">#}
{#			<section class="flex items-center justify-center h-screen">#}
{#				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>#}
{#			</section>#}
{#		</div>#}

